accelerate
albumentations
altair
anthropic
autogen
beautifulsoup4
bentoml
catboost
chromadb
cohere
cryptography
crewai
datasets
docx2txt
duckdb
evaluate
faiss-cpu
fastapi
fastmcp
flashrank
Flask
gensim
GitPython
google-generativeai
graphviz
groq
h5py
hydra-core
huggingface-hub
imageio
imbalanced-learn
ipykernel
ipython
keras
langchain
langchain-community
langchain-ollama
langgraph
langsmith
lightgbm
lime
llama-index
loguru
marvin
matplotlib
mcp
mcp-server
mediapipe
milvus
mistralai
networkx
newspaper3k
nltk
numpy
ollama
onnx
onnxruntime
openai
openai-agents
opencv-contrib-python
opencv-python
pandas
pdfplumber
peft
pinecone-client
pillow
playwright
plotly
polars
promptfoo
protobuf
pyarrow
pydantic
pydantic-ai
PyPDF2
pymupdf
python-dotenv
python-jwt
PyYAML
pytorch-lightning
qdrant-client
ragas
rank-bm25
reportlab
requests
restrictedpython
rich
scikit-image
scikit-learn
scipy
scrapy
seaborn
selenium
semantic-kernel
sentence-transformers
shap
SQLAlchemy
spacy
statsmodels
streamlit
sympy
tensorboard
tensorflow
timm
tokenizers
torch
torchaudio
torchmetrics
torchvision
tqdm
transformers
trl
tritonclient
typer
ultralytics
unstructured
uv
uvicorn
wandb
weaviate-client
xgboost
autogenstudio
mlflow
