a2wsgi==1.10.10
absl-py==2.3.1
accelerate==1.12.0
ag2==0.10.5
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiohttp-asgi-connector==1.1.2
aioice==0.10.2
aiortc==1.14.0
aiosignal==1.4.0
aiosqlite==0.21.0
albucore==0.0.24
albumentations==2.0.8
alembic==1.18.3
altair==5.5.0
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.84.0
antlr4-python3-runtime==4.9.3
anyio==4.11.0
appdirs==1.4.4
argcomplete==3.6.3
asgiref==3.11.1
asttokens==3.0.0
astunparse==1.6.3
attrs==25.4.0
audioop-lts==0.2.2
audioread==3.1.0
Authlib==1.6.6
autogen==0.10.5
autogen-agentchat==0.5.7
autogen-core==0.5.7
autogen-ext==0.5.7
autogenstudio==0.4.2.2
Automat==25.4.16
av==16.1.0
azure-ai-agents==1.1.0
azure-ai-documentintelligence==1.0.2
azure-ai-inference==1.0.0b9
azure-ai-projects==1.0.0
azure-common==1.1.28
azure-core==1.38.0
azure-identity==1.25.1
azure-search-documents==11.6.0
azure-storage-blob==12.28.0
backoff==2.2.1
banks==2.3.0
bcrypt==5.0.0
beartype==0.22.9
beautifulsoup4==4.14.3
bentoml==1.4.35
blinker==1.9.0
blis==1.3.3
boto3==1.42.41
botocore==1.42.41
bracex==2.6
build==1.4.0
cachetools==6.2.1
catalogue==2.0.10
catboost==1.2.8
cattrs==23.1.2
certifi==2025.10.5
cffi==2.0.0
cfgv==3.5.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.1.8
click-option-group==0.5.9
cloudevents==1.12.0
cloudpathlib==0.23.0
cloudpickle==3.1.2
cohere==5.20.2
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.10.1
comm==0.2.3
confection==0.1.5
contourpy==1.3.3
crewai==1.9.3
cryptography==46.0.4
cycler==0.12.1
dataclasses-json==0.6.7
datasets==4.5.0
debugpy==1.8.17
decorator==5.2.1
dill==0.4.0
dnspython==2.8.0
docker==7.1.0
docstring_parser==0.17.0
docutils==0.22.4
docx==0.2.4
docx2txt==0.9
dotenv==0.9.9
duckdb==1.4.4
email-validator==2.3.0
emoji==2.15.0
evaluate==0.4.6
fastapi==0.128.0
Flask==3.1.2
flask-cors==6.0.2
fonttools==4.60.1
fsspec==2025.10.0
gensim==4.4.0
GitPython==3.1.45
google-auth==2.49.1
grpcio==1.76.0
h5py==3.15.1
httpx==0.28.1
huggingface_hub==0.36.1
imbalanced-learn==0.14.1
ipykernel==7.1.0
ipython==9.6.0
Jinja2==3.1.6
joblib==1.5.2
jsonschema==4.25.1
keras==3.12.0
kiwisolver==1.4.9
langchain==1.2.12
langchain-community==0.3.31
langchain-core==1.2.19
langgraph==1.1.2
lightgbm==4.6.0
llama-index==0.14.3
loguru==0.7.3
lxml==6.0.2
matplotlib==3.10.7
mediapipe==0.10.32
mlflow==3.10.0
nltk==3.9.2
numba==0.63.1
numpy==2.3.4
onnx==1.20.1
onnxruntime==1.20.1
openai==1.83.0
opencv-python==4.13.0.90
openpyxl==3.1.5
optuna==4.7.0
pandas==2.3.3
pillow==11.3.0
plotly==6.5.2
polars==1.37.1
psycopg2==2.9.11
pyarrow==22.0.0
pydantic==2.11.10
pymongo==4.16.0
PyPDF2==3.0.1
python-dotenv==1.1.1
python-pptx==1.0.2
pytorch-lightning==2.6.1
PyYAML==6.0.3
qdrant-client==1.16.2
redis==7.1.0
requests==2.32.5
rich==14.2.0
scikit-learn==1.7.2
scipy==1.16.2
seaborn==0.13.2
selenium==4.39.0
sentence-transformers==5.2.2
shap==0.50.0
spacy==3.8.11
SQLAlchemy==2.0.44
streamlit==1.50.0
sympy==1.14.0
tensorboard==2.20.0
tensorflow==2.20.0
torch==2.10.0
torchaudio==2.10.0
torchvision==0.25.0
tqdm==4.67.1
transformers==4.46.3
typing_extensions==4.15.0
uvicorn==0.40.0
wandb==0.24.1
xgboost==3.1.1
chromadb==1.5.5
langchain-chroma==1.1.0
scikeras
